<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/header') %> 
    <body class="vertical-layout boxed loaded">
        <%- include('../includes/loader') %> 
        <!-- .main-loader -->
        <div class="page-box">
            <div class="app-container">
                <%- include('../includes/navbar') %> 
                <%- content %> 
                <%- include('../includes/footer') %> 
            </div>
        </div>
        <%- include('../includes/common') %> 
        <%- include('../includes/script') %> 
    </body>
</html>

