<%- extend('../layouts/app') %>

<main class="main-content">
    <div class="app-loader"><i class="icofont-spinner-alt-4 rotate"></i></div>
    <div class="main-content-wrap">
        <div class="page-content">
            <div class="card mb-0">
                <div class="card-header">Payments</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Patient</th>
                                    <th scope="col">Admission Date</th>
                                    <th scope="col">Discharge Date</th>
                                    <th scope="col">Charger</th>
                                    <th scope="col">Tax</th>
                                    <th scope="col">Discount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% response.body.forEach(element => { %>
                                    <% element.pastHistory.forEach(item => { %>
                                        <tr>
                                            <td><strong><%= element.name %> </strong></td>
                                            <td><div class="text-nowrap text-muted"><%= new Date(item.admissionDate).toDateString() %> </div></td>
                                             <td><div class="text-nowrap text-muted"><%= new Date(item.dischargeDate).toDateString() %> </div></td>
                                             <% if (item.payment) { %>
                                                <td>Rs. <%= item.payment.amount %> </td>
                                                <td>Rs. <%= item.payment.tax %> </td>
                                                <td>Rs. <%= item.payment.discount %> </td>
                                             
                                            <% } else { %>
                                                <td>Rs. - </td>
                                                <td>Rs. -</td>
                                                <td>Rs. - </td>
                                            <% } %>
                                         </tr>
                                    <% }) %>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- <nav class="mt-4">
                        <ul class="pagination">
                            <li class="page-item disabled">
                                <a class="page-link" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true"><span class="icofont-simple-left"></span></a>
                            </li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next"><span class="icofont-simple-right"></span></a>
                            </li>
                        </ul>
                    </nav> -->
                </div>                         
            </div>
        </div>
    </div>
</main>